.profile__avatar{
    width: 120px;
    position: relative;
    height: 120px;
    border-radius: 120px;
    /*z-index: -1;*/
    background-size: cover;
    cursor: pointer;
    background-repeat: no-repeat;
}

